.Grid {
    display:table;
    table-layout:fixed;
    margin-left: auto;
    margin-right: auto;
}

.Row {
    display : table-row;
}

.Cell {
    display : table-cell;
}

Button {
    font-size: 18px;
}